body {
    background-color: blue;
}

.container {
    background-color: lightgrey;
    width: 50%;
    margin-top: 10%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

.start-button {
    margin: 20px;
}

.btn {
    margin: 10px;
}